vti_encoding:SR|utf8-nl
vti_author:SR|srividya-PC\\srividya
vti_modifiedby:SR|srividya-PC\\srividya
vti_timelastmodified:TR|11 Mar 2012 14:58:47 -0000
vti_timecreated:TR|11 Mar 2012 09:47:41 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|11 Mar 2012 14:58:05 -0000
vti_cacheddtm:TX|11 Mar 2012 14:58:47 -0000
vti_filesize:IR|2554
vti_cachedlinkinfo:VX|S|layout.css
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css
